.header__mobile-button {
  display: none;
  width: 24px;
  height: 21px;
  padding: 0;
  margin-left: auto;
  margin-right: 30px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-image: url(../../../images/header__mobile-button.svg);
  background-size: 22px 22px;
  margin: 7px 30px auto auto;
}

.header__mobile-button:hover {
  transition: opacity .5s linear;
  opacity: .6;
  cursor: pointer;
}

@media (max-width : 500px) {
  .header__mobile-button {
    display: block;
  }
}
