.popup__close-button {
  width: 45.5px;
  height: 47px;
  border: none;
  padding: 0;
  background-image: url(../../../images/popup__close-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  align-self: flex-end;
  position: relative;
  bottom: 47px;
  left: 45.5px;
  outline: none;
}

.popup__close-button:hover {
  transition: opacity 1s linear;
  opacity: .6;
  cursor: pointer;
}

@media (max-width : 550px) {
  .popup__close-button {
    width: 30px;
    height: 30px;
    bottom: 30px;
    left: 30px;
    background-size: 44px 44px;
  }
}
