.profile__subject {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


@media (max-width : 767px) {
  .profile__subject {
    margin: 0 auto;
    padding-left: 11px;
    max-width: 340px;
  }
}

@media (max-width : 500px) {
  .profile__subject {
    font-size: 14px;
    line-height: 17px;
  }
}
