.card__like-button {
  grid-column: 2;
  grid-row: 2/3;
  width: 23px;
  height: 19px;
  margin: 21px 22.5px 3px 0;
  padding: 0;
  border: none;
  background-color: white;
  background-image: url(../../../images/elements__heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-button:hover {
  transition: opacity 1s linear;
  opacity: .6;
  cursor: pointer;
}
