@import url(../card/card.css);

.cards {
  width: 882px;
  margin: 0 auto 66px;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 18px 20px;
}

@media (max-width : 1023px) {
  .cards {
    width: 682px;
    grid-template-columns: repeat(2, 332px);
  }
}

@media (max-width : 767px) {
  .cards {
    width: 332px;
    grid-template-columns: 332px;
  }
}

@media (max-width : 500px) {
  .cards {
    width: 282px;
    grid-template-columns: 282px;
  }
}
