.profile__avatar {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  margin-right: 30px;
  margin: auto 30px auto 0;
}

@media (max-width : 767px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
