.popup__container {
  width: 882px;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 430px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: none;
  border-radius: 10px;
}

@media (max-width : 550px) {
  .popup__container {
    width: 240px;
  }
}
