.popup__photo-text {
  margin: 10px auto 0 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: white;
  position: relative;
  bottom: 47px;
}

@media (max-width : 550px) {
  .popup__photo-text {
    bottom: 30px;
  }
}
