.auth__input {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  padding-bottom: 13px;
  border: none;
  color: #fff;
  border-bottom: 2px solid #ccc;
  background-color: black;
}
