@import url(./__logo/header__logo.css);
@import url(./__container/header__container.css);
@import url(./__container/_visible/header__container_visible.css);
@import url(./__container/_open/header__container_open.css);
@import url(./__mail/header__mail.css);
@import url(./__mail/_visible/header__mail_visible.css);
@import url(./__button/header__button.css);
@import url(./__button/_open/header__button_open.css);
@import url(./__mobile-button/header__mobile-button.css);
@import url(./__mobile-button/_visible/header__mobile-button_visible.css);
@import url(./__mobile-button/_open/header__mobile-button_open.css);

.header {
  display: flex;
  width: 882px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);

}

@media (max-width : 1023px) {
  .header {
    width: 682px;
  }
}

@media (max-width : 767px) {
  .header {
    width: 482px;
  }
}

@media (max-width : 500px) {
  .header {
    width: 320px;
    margin: 28px auto 31.6px;
    flex-wrap: wrap;
  }
}
