.card__like-counter {
  grid-column: 2;
  grid-row: 3/4;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: black;
  text-align: center;
  width: 23px;
  margin: 0 22.5px 24px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
